body{
    color: white;
    background-color: rgb(27, 27, 27);
}

.text-primary{
    color: green;
}


/*
hero section
*/
.custom__bg{
    background: black url("../assets/abstract.91fe92b5.jpg");
    background-size: cover;
}

/*
card
*/

.card{
    margin: 10px;
    border-radius: none;
    background-color: black;
}

.img__style{
    object-fit: cover;
    aspect-ratio: 1/.7;
}